*{
	margin: 0;
	padding: 0;
}

.container form{
	align-items: center;
	padding: 10% 0 0 0;
}

.container .row .col-12{
	align-items: center;
	padding: 40px 60px 40px 60px;
}

.container .row .col-12 .boton{
	text-decoration: none;
}